<div id="container">

      <h1>TODO LIST</h1>
      
      <%- include ('C:/Users/moham/OneDrive/Desktop/mytodo/components/add_todo.ejs') -%>
      
      <%- include ('C:/Users/moham/OneDrive/Desktop/mytodo/components/todo_table.ejs') -%>
      
</div><!-- DIV ID Container -->