<table class="table">
      <thead>
            <tr scope="col">TODO</tr>
      </thead>
      <tbody id="todo_table">

      </tbody>


<form id="complete_todo_form" action="/compelete_todo/" method="POST"></form>

</table>
